<div class="header-main-container">
    <div class="logo-container">
        <img class="epl-logo" src="../../assets/images/epl-logo.png">
    </div>
    <div class="nav-links">
        <a routerLink='/home' routerLinkActive="active" class="links">Home</a>
        <span class="slashes">|</span>
        <a routerLink='/team' routerLinkActive="active" class="links">Teams</a>
        <span class="slashes">|</span>
        <a class="links">Matches</a>
        <span class="slashes">|</span>
        <a routerLink='/league-table' routerLinkActive="active" class="links">League Table</a>
    </div>

</div>