.main-title-container{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0px;
    background-color: #813bbb;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
}